section.writePart {
    position: fixed; 
    width: 100%;
    top: 80%;
    display: block;
    border: solid;
    height: 25%;
    background-color: skyblue;     
    vertical-align: middle;  
}
textarea.message {
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.enterMessage {
    display: inline-block;
    position: absolute;
    width: 5%;
    height: auto;
    left: 5%;
    top: 30%;
    transform: translateY(-50%);
    
    
}

img.message {
    max-height: 100px;
    max-width: 100px;
}
footer {
    position: fixed; 
    width: 100%;
    top: 95%;
    border: none;
    height: 5%;
    font-size: 30px;
    color: white;
    background-color: #337ab7;
    text-align: right;
    padding-right: 10px;
}