
html, body {
    height: 100%;
}
body {
    font-family: 'Open Sans', serif;
    color: #949494;
	font-size: 24px;
    margin: auto;
}
div.centralPart {
    margin-top: 1%;
    margin-bottom:  10%;
    width: 100%;  
    border-color: snow;
    max-height: 50%;    
}
div.someoneMessage {
    margin-top: 10px;
    border-radius: 20px;
    border: 4px solid midnightblue;
    font-size: 20px;
    vertical-align: middle;
    background-color: aqua;    
    margin-right: auto;    
    padding: 20px; 
    max-width: 80%;
}
div.space {

    background-color: white;
    text-align: center;

    height: 100px;
}
div.yourMessage {
    margin-top: 10px;
    text-align: right;
    border-radius: 20px;
    border: 4px solid forestgreen;
    max-width: 80%;
    font-size: 20px;
    vertical-align: middle;    
    background-color: mediumspringgreen;    
    margin-left: auto; 
    padding: 20px;
}

div.yourMessageChanged {
    margin-top: 10px;
    text-align: right;
    border-radius: 20px;
    border: 4px dotted forestgreen;
    max-width: 80%;
    font-size: 20px;
    vertical-align: middle;
    background-color: mediumspringgreen;
    margin-left: auto;
    padding: 20px;
}

div.messageChanged {
    margin-top: 10px;
    border-radius: 20px;
    border: 4px dotted midnightblue;
    font-size: 20px;
    vertical-align: middle;
    background-color: aqua;
    margin-right: auto;
    margin-top: 10px;
    padding: 20px; 
    max-width: 80%;
}
div.messageDeleted {
    border-radius: 20px;
    vertical-align: middle;
    border: 4px dotted plum;
    background-color: lightpink;
    margin-top: 10px;
    max-width: 80%;
    padding: 20px;
}
.article {
    float: left;
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
p {
    word-wrap: inherit;
}
img.deleteButton {
    max-height: 20px;
    max-width: 20px;
}
img.changeButton {
    max-height: 20px;
    max-width: 20px;
}
img.canselButton {
    max-height: 20px;
    max-width: 20px;
}
#newText {
    background-color: mediumspringgreen;
    border: 0px;
    font-size: 20px;
    
}