html, body {
    height: 100%;
}
body {
	font-family: 'Open Sans';
    color: #949494;
	font-size: 24px;
    margin: auto;
}
section.centralPart {    
    top: 25%;
    margin-bottom:  25%;
    width: 100%;  
    border-color: snow;
    max-height: 50%;    
}
div.message {
    border-style: solid;
    border-color: midnightblue;
    border-radius: 20px;
    border-width: 4px;
    height: 50px;
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
    background-color: aqua;    
    margin-right: auto;    
    padding: 20px; 
    max-width: 80%;
}
div.yourMessage {
    text-align: right;
    border-style: solid;
    border-color: forestgreen;
    border-radius: 20px;
    border-width: 4px;
    height: 25px;
    max-width: 80%;
    font-size: 20px;
    vertical-align: middle;    
    background-color: mediumspringgreen;    
    margin-left: auto; 
    padding: 20px;
}
div.messageChanged {
    border-style: dotted;
    border-color: midnightblue;
    border-radius: 20px;
    border-width: 4px;
    height: 50px;
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
    background-color: aqua;
    margin-right: auto;
    margin-top: 10px;
    padding: 20px; 
    max-width: 80%;
}
div.messageDeleted {
    border-style: dotted;
    border-color: midnightblue;
    border-radius: 20px;
    border-width: 4px;
    height: 5px;
    vertical-align: middle;
    display: inline-block;
    background-color: aqua;
    margin-right: auto;
    margin-top: 10px;
    width: 200px;
}